*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: teal;
}
.container{
    margin-top: 20vh;
}
.col{
    padding: 2em;
}
.display-2{
    font-weight: bold;
    margin-top: 1em;
    color: black;
}
.img img{
    width: 30%;
    margin-top: 3em;
}

/* masculino */

.Masculino {
    background-color: black ;
}
.Masculino .h2 {
    color: #fff;
    padding-bottom: 1em;
}

/* .Masculino .container-fluid {
    background-color: black;
} */


/* femenino */

.Femenino {
    background-color: pink;
}
.Femenino .h2 {
    color: #000;
    padding-bottom: 1em;
}
/* .Femenino .container-fluid {
    background-color: pink;
}
 */