@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

*{
    margin: 0;
    padding: 0;
}
#section1 {
    width: 100vw;
    height: 100vh;
}
#section2 {
    width: 100vw;
    height: 100vh;
}
.portada {
    background-image: url("https://assets.xboxservices.com/assets/13/cf/13cf037e-0e97-4812-90d9-b18791367f09.jpg?n=Hogwarts-Legacy_GLP-Page-Hero-1084_Redesign_1920x1080_01.jpg");
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.btn {
    background-color: yellow;
    padding: .4em;
    font-family: 'Bigelow Rules', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    margin: 40vh;
    text-transform: uppercase;
    border-radius: 25%;
    border: 2px solid white;
}
.cont-inputs {
    background-image: url("https://www.laxmasmusica.com/uploads/newsarticle/224dcd5a78654f798691b7c44ca7f19d/Harry_Potter_Return_to_Hogwarts_presenta_pr_XjQDKe5.jpg");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-int {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.575);
    width: 40%;
    height: 75%;
}
.cont-int label {
    font-family: 'Bigelow Rules','Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: yellow;
    text-transform: uppercase;
    padding: .3em; 
}
.cont-int input {
    font-size: 2rem;
    margin: 0 2.5em;
}
.cont-int select {
    font-size: 2rem;
    margin: 0 2.5em;
}
.span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-1 {
    background-color: yellow;
    padding: .1em;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Bigelow Rules', 'Arial Narrow', Arial, sans-serif;
    width: 30%;
    margin-top: 0.7em;
    border-radius: 5%;
    text-transform: uppercase;
}


 
